<!-- <h1>Hola Mundo desde {{city.toUpperCase()}} {{1 + 1}}</h1> -->
<nav class="navbar">
    <ul class="navbar-items">
        <li class="navbar-item"><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio</a>
        </li>
        <li class="navbar-item"><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">Acerca
                de</a></li>
        <li class="navbar-item"><a routerLink="/pokemon" routerLinkActive="active"
                ariaCurrentWhenActive="page">Pokémon</a></li>
    </ul>
</nav>

<router-outlet />