<!-- <h1>Hola Mundo desde {{city.toUpperCase()}} {{1 + 1}}</h1> -->
<app-user />

<div>
    <h2>¿Qué es Angular?</h2>
    <p>Angular es un framework de ingeniería de software de código abierto mantenido por Google, que sirve para
        desarrollar aplicaciones web de estilo Single Page Application (SPA) y Progressive Web App (PWA). Sirve tanto
        para versiones móviles como de escritorio. </p>
    <p>
        Angular tiene un nivel de complejidad de medio a elevado y ofrece soluciones robustas, escalables y optimizadas
        para lograr un estilo de codificación homogéneo y de gran modularidad. Su desarrollo se realiza por medio de
        TypeScript o JavaScript. En este último se ofrecen diversas herramientas adicionales al lenguaje como tipado
        estático o decoradores. Su nombre «Angular» proviene del concepto de paréntesis angulares (<>) que se utilizan
            en HTML.
    </p>
    <h3>Características de Angular</h3>
    <p>Para comprender de mejor forma qué es Angular, hemos listado algunas de las características principales del marco
        de trabajo que te servirán para conocer mejor su funcionalidad y la manera en que puedes utilizarlo en el
        desarrollo de algún proyecto web próximo. </p>
    <h5>1. Uso de DOM regular</h5>
    <p>
        Un Document Object Model (DOM) es un documento XML o HTML que tiene una estructura de árbol en la que cada nodo
        representa una parte del documento. Angular hace uso de DOM regular, lo que permite una mejor organización
        conforme avanza el desarrollo web.
    </p>
    <h5>2. Enlace de datos o data binding</h5>
    <p>
        El enlace de datos es un proceso con el que los usuarios pueden manipular elementos de una página web a través
        de un navegador. Entre sus principales ventajas es que no requiere secuencias de comandos ni programaciones
        complejas, además de que emplea HTML dinámico. También permite una mejora en la visualización de una página web,
        sobre todo cuando contiene una gran cantidad de datos.
    </p>

    @defer (on viewport){
    <app-comments />
    } @placeholder {
    <p>Futuros Comentarios</p>
    } @loading {
    <p>Cargando comentarios ...</p>
    }
</div>

<router-outlet />